.jnavbar{
    background-color: darkgreen;
    color: black;
    width: 100%;
}

.jbutton{
    background-color: darkgreen;
    color: black;
    height:50px;
}

.jumbotextright{
    text-align:right;
}

.slideshowimg{
    height:400px;
    width:800px;
}

.headerfont{
    color: darkgreen;
}

.jtablebody{
    background-color: lightgrey;
}
#logo{
    width: 20%;
    position: absolute;

}
.jumbotron-taste{
    text-align: center;
}
.jumbotron-deli{
    text-align: right;
}

.jtablehome{
    background-color: lightgrey;
    text-align:left;
    position: absolute;
    left: 15%
}

.jtablehome2{
    background-color: lightgrey
}

.jumbotextcenter{
    text-align:center;
}

.jumbotextcenter{
    text-align:center;
}

.logo{
    width:20%;
    position:absolute;
}


div.printfriendly {
    margin: 0px 0px 0px 0px;
  }
  div.printfriendly a, div.printfriendly a:link, div.printfriendly a:visited {
    text-decoration: none;
    font-size: 14px;
    color: #004444;
    vertical-align: bottom;
    border: none;
  }

  .printfriendly a:hover {
    cursor: pointer;
  }

  .printfriendly a img  {
    border: none;
    padding:0;
    margin-right: 6px;
    display:inline-block;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .printfriendly a span{
    vertical-align: bottom;
  }
  .pf-alignleft {
    float: left;
  }
  .pf-alignright {
    float: right;
  }
  div.pf-aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .slideshowimg {
      width: 500px;
  }
  .left {
      font-family: serif;
      font-style: italic;
  }
  .right {
    background-color: dark-green;
  }

.footerhours{
    text-align: center; 
}


.display-4 {
    text-align: center;
}
.item {
    border-style: groove;
    border-width: 15px;
    border-color: darkgreen;
}
.menucard-item-price {
    background-color: darkgreen !important;
}
table {
    position: relative;
    margin-top: 100px;
}
.btn-success {
    position: relative;
    margin-top: 40px;
}

.jtablehome{
    width:100%;
    background-color:lightgray;
}

.jfooter{
    background-color:rgb(37, 42, 42); 
    color: white;
}

.jcateringmenuheader{
    font-size: 24px;
    font-family: "comic sans ms";
}

.jcateringmenudes{
    font-size: 14px;
    color: rgb(95, 94, 94);
    font-family: 'Times New Roman'; 
}

.jcaroselcaption{
    color: black;
    font-size: 18px;
}
.fun {
    position: relative;
    margin-top: 300px;
}
.cool {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    float: right;
    width: 13.5%;
}
.winner {
    text-align: center;
}
.haha {
    position: absolute;
    margin-left: 10%;
    margin-bottom: 0px;
    margin-top: 1%;
    margin-right: -3%;
    background-image: url(../img/jumbotronbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}
.won {
    width: 13.5%;
    float: left;
}

.iframefun{
    height: 225px;
}

.contacthead{
    text-align:center;
    color:darkslategray;
    font-family: impact;
    font-size: 34px;
}

.contactdivv{
    border: solid;
    border-color: darkgreen; 
    border-width: 10px;
}

.jreviewbox{
    color: darkgreen;
    
}

.contactdivcont{
    font-size: 20px;
}
