.jnavbar{
    background-color: darkgreen;
    color: black;
    width: 100%;
}

.jbutton{
    background-color: darkgreen;
    color: black;
    height:50px;
}

.jumbotextright{
    text-align:right;
}

.slideshowimg{
    height:400px;
    width:800px;
}

.headerfont{
    color: darkgreen;
}

.jtablebody{
    background-color: lightgrey;
}

.jumbotextcenter{
    text-align:center;
}

.logo{
    width:20%;
    position:absolute;
}

.jtablehome{
    width:100%;
    background-color:lightgray;
}